:root {
    --black: black;
    --white: white;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: bold;
    line-height: 44px;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
  }
  
  .section {
    padding: 40px;
  }
  
  .section.hero {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-height: 900px;
    font-size: 1vw;
    display: flex;
    position: relative;
  }
  
  .wrapper {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .heading {
    color: var(--black);
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-size: 144px;
    font-weight: 400;
    line-height: 173px;
  }
  
  .heading.hero-h1 {
    text-align: left;
    font-size: 7em;
    line-height: 1.2;
  }
  
  .body {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    line-height: 27px;
  }
  
  ._2col-grid {
    grid-column-gap: 6em;
    grid-row-gap: 16px;
    grid-template: "."
    / 2fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .paragraph {
    font-size: 1vw;
  }
  
  .mage-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    max-width: 1700px;
    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .hero-image {
    height: 167px;
  }
  
  .hero-image.left {
    background-image: url('../images/colourful.png');
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
  }
  
  .hero-image.right {
    background-image: url('../images/Group-7.png');
    background-position: 0 50px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .nav {
    z-index: 1000;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .logo {
    font-size: 24px;
    font-weight: 400;
    display: block;
  }
  
  .nav-link-cont {
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
  }
  
  .nav-link {
    color: #000;
    text-transform: lowercase;
    padding-left: 60px;
    text-decoration: none;
  }
  
  @media screen and (min-width: 1920px) {
    .section.hero {
      margin-left: auto;
      margin-right: auto;
    }
  
    .section.center {
      flex-flow: column;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  
    .section.center.full-vh {
      height: 100vh;
    }
  
    .wrapper.center {
      flex-flow: column;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  
    .heading.hero-h1 {
      font-size: 144px;
      line-height: 144px;
    }
  
    .heading.hero-h1.alignright {
      text-align: right;
    }
  
    ._2col-grid {
      grid-column-gap: 90px;
      grid-row-gap: 90px;
    }
  
    .paragraph {
      font-size: 18px;
    }
  
    .heading-2 {
      text-transform: uppercase;
      min-width: 88px;
      font-size: 88px;
      font-weight: 400;
      line-height: 106px;
    }
  }
  
  #w-node-a3439c51-d339-8870-e5f8-461be9879399-47f4a9cd {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: center;
  }
  
  #w-node-_9f657958-a294-ba0d-f2f4-be7cc9e2c149-47f4a9cd {
    align-self: center;
    justify-self: start;
  }
  
  #w-node-f7de91ec-652c-a1b2-c950-b7d88fcdca22-47f4a9cd {
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
  }
  
  #w-node-_52ba5c2b-8818-7f1a-c76c-bcca1c840dbb-47f4a9cd {
    grid-area: 1 / 1 / 2 / 2;
    align-self: start;
  }
